# Node
frontend/node_modules/
frontend/.angular/
frontend/cache/
frontend/dist/
frontend/.vscode/

# Python
backend/venv/
backend/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
backend/.env
backend/.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Build / temp artifacts
*.resolved
frontend/build*.txt
frontend/browser/
package-lock.json
