<div class="super-auth-container">


    <!-- Floating Orbs Background -->
    <div class="background-orbs">
        <div *ngFor="let orb of spheres" 
             class="orb"
             [style.width]="orb.width"
             [style.height]="orb.width"
             [style.left]="orb.left"
             [style.top]="orb.top"
             [style.background]="orb.background"
             [style.animation-delay]="orb.delay">
        </div>
    </div>

    <div class="auth-card">
        <h2 class="auth-title">Sign In</h2>
        
        <form (submit)="signIn()">
            <div class="inputs-group">
                <div class="input-field">
                    <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
                </div>
                
                <div class="input-field">
                    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
                </div>
            </div>
            
            <div class="auth-options">
                <a href="javascript:void(0)" class="forgot-link">Forgot password?</a>
            </div>

            <button type="submit" class="btn-login">Login</button>
            
            <p class="auth-footer">
                Don't have an account? <a href="javascript:void(0)" (click)="toggleMode()">Sign up</a>
            </p>
        </form>
    </div>
</div>